
html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 160px 550px 30px;
    
}

header {
    grid-column: span 12;
}
aside {
    grid-column: span 6;
}
main {
    grid-column: span 6;
    font-family: 'Poppins', sans-serif;
   
    color: whitesmoke;
}
footer {
    grid-column: span 12;
}

header {
    display: flex;
}

footer {
    display: flex;
}

footer > div:nth-child(2) {
    margin-left: 20cm;
    
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 .fa {
    color: white;
    
}

span {
    margin-right: 10px;
}

 img {
     padding-left: 40px;
 }

 main {
     padding-left: 90px;
     padding-right: 90px;
 }

 h1 {
    font-size: 45px;
}

button {
    background-color: white;
    color: violet;
    padding: 10px 30px;
    text-align: center;
    display: inline;
    font-size: 16px;
    border-radius: 12px;

}


























