html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(193, 100%, 96%);
    background-size: 100%;
    
}



p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 550px ;  
}


header {
    grid-column: span 12;
    display: flex;
    margin: 60px;
    margin-bottom: 50px;
    background-image: url(../images/bg-hero-desktop.svg);    
}

header > div:nth-child(2) {
    margin-left: auto;
    background-image: url(../images/bg-hero-desktop.svg); 
}



button.btn {
    background-color: white;
    color: black;
    padding: 12px 60px;
    text-align: center;
    display: inline;
    font-size: 16px;
    border-radius: 12px;
    background-image: url(../images/bg-hero-desktop.svg); 

}

.btn2 {
    background-color: #ff3399;
    color: white;
    padding: 18px 80px;
    text-align: center;
    display: inline;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    background-image: url(../images/bg-hero-desktop.svg); 
}

.build {
    grid-column: span 5;
    margin-top: 10em;
    margin-left: 5em;
    background-image: url(../images/bg-hero-desktop.svg); 
    
}

aside {
    grid-column: span 7;
    margin: 90px;
    margin-bottom: 150px;
    background-image: url(../images/bg-hero-desktop.svg); 
}


main {
    grid-column: span 12 ;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 250px;
}


.card {
    grid-column: span 12;
    height: 400px;
    max-width: 100%;
    display: grid;
    border: 1px solidrgba(128, 141, 153, 0.15);
    box-shadow: 0px 0px 4px 3px rgba(128, 141, 153, 0.1);
    border-radius: 10px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 40px;
   
}

.middle {
    border: 1px solidrgba(128, 141, 153, 0.15);
    box-shadow: 0px 0px 4px 3px rgba(128, 141, 153, 0.1);
    border-radius: 10px;
    height: 250px;
    width: 600px;
    margin-left: 390px;
    margin-right: 390px;
    padding-top: 40px;
    padding-left: 100px;
    margin-top: 150px;
    margin-bottom: -350px;
    background-color: white;


}

.middle button {
    background-color: #ff3399;
    color: white;
    padding: 20px 120px;
    text-align: center;
    display: inline;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 40px;
}

.card > div:nth-child(2) {
    margin-left: auto;
}

.card-details {
    max-width: 50%;
    margin-top: 100px;
    padding-left: 90px;
}

.card-image {
    margin-top: -250px;
    width: 420px;
    padding-right: 50px;
    
}

.card2-image {
    width: 420px;
    margin-top: 50px;
    padding-left: 90px;

}

.card2-details {
    margin-top: -290px;
    width: 520px;
    padding-right: 20px;
}


footer {
    grid-column: span 12;
    display: flex;
    font-size: 9px;
    padding: 40px;
    clear: both;
    padding-bottom: 150px;
    margin-top: -50px;
    

}

img {
    
    display: block;
    max-width: 100%;
    height: auto;
}

.lorem {
    width: 40%;
    float: left;
}
.about , .career {
    width: 15%;
    float: left;
}

.social {
    width: 30%;
    float: left;
    padding: 40px;
    
}
.fa {
    color: #ff3399;
}

