html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: hsl(193, 100%, 96%);
    background-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px 550px 30px;   
}

header {
    grid-column: span 12;
    display: flex;
    margin: 60px;
}

header > div:nth-child(2) {
    margin-left: auto;
}

aside {
    grid-column: span 6;
    margin: 80px;
}

section {
    grid-column: span 12;
}

footer {
    grid-column: span 12;
    display: grid;
}

footer > div:nth-child()

img {
    
    display: block;
    max-width: 100%;
    height: auto;
}