html,
body {
    font-family: 'Montserrat', sans-serif;
    background: hsl(240, 78%, 98%);
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg) ;
    background-position: top right , bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: 0 auto; 
    width:70% */
    /* box-sizing: border-box; */
}

.dark-mode {
    background-color: black;
    color: white;
}
.darkmode {
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 70rem;
    margin-top: 2rem;
}
.container {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 160px 550px 30px;    */
    /* margin: 0 auto; 
    width:90%; */
    text-align: center;

}
/*
header {
     grid-column: span 12; 
}
*/
.toggle {
   
}
.one {
    display: inline-flex
}

/* .price {
    display: table;
    table-layout: fixed;
    width: 100%; 
} */

.columns {
    float: left;
    width: 33%;

}

.details {
    list-style-type: none;
}

.Basic {
    /* grid-column: span 4; */
    /* display: table-cell;
    text-align: center; */
}

.Proffesional {
    /* grid-column: span 4;*/
    /* display: table-cell;
    text-align: center; */
} 

.Master {
    /* grid-column: span 4; */
    /* display: table-cell;
    text-align: center; */
}

