html,
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
}

.dark-mode {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 160px 550px 30px;   
}