html,
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
}

.dark-mode {
    background-color: black;
    color: white;
}
.darkmode {
    padding: 10px 30px;
    text-align: center;
    display: inline;
    font-size: 16px;
    border-radius: 12px;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 160px 550px 30px;   
}

header {
    grid-column: span 12;
}

.Basic {
    grid-column: span 4;
}

.Proffesional {
    grid-column: span 4;
}

.Master {
    grid-column: span 4;
}

